* body {
    background-image: url(https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size:cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(244, 227, 227, 0.5); 
   padding: 25px 0px;
}

.navbar-brand  {
    font-size: 34px; 
    font-family: 'Dancing Script', cursive; 
    color: #0d0900e6 !important;
    font-weight: 900;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
    
}
.navbar{
    background-color: transparent !important;

}

nav a {
    text-decoration: none;
    color: rgb(198, 18, 18); 
    font-size: 22px; 
    font-family: 'lora', serif;

}
  
.navbar-nav .nav-link:hover {
    color: #f5f5f5 !important; /* Change the text color on hover */
}
.navbar-nav .nav-link{
    color: #ff6666;
}
.navbar-nav .nav-link:hover{
    color:#a85454
}
/* Hover Menu */
li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
 a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
 }
 a:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #12e4eb;

 }
 /* Style for the menu list */
.menu-list {
    background-color: rgba(253, 236, 236, 0.819);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px; 
    
}

.menu-list table {
    width: 100%;
    
}


.menu-list table tr {
    border-bottom: 1px solid #c1b9b9; /* Add a border between rows */
}

/* Style for table cells (columns) */
.menu-list table td {
    padding: 10px;
    font-size: 18px;
    color: #0c0404;
    text-align: left; /* Adjust alignment as needed */
    width: 100%;
    padding-right: 70px;
}

/* Style for the table heading (Menu Category) */
.menu-list h2 {
    font-size: 24px;
    color: #363333;
    margin-bottom: 10px;
    font-family: "lora";
    font-weight: bold;
}
/* Style for the centered menu section */
.centered-menu-section {
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Make sure it covers the entire viewport height */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}




