.navbar {
    background-color: #ce8888;
    padding: 40px;
    
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: #fff;
     font-size: 50px !important;
}

.navbar-brand:hover {
    color: #860d0d; 
}

.nav-link {
    color: #ebe0e0 !important;
    font-size: 20px; 
}

.nav-link:hover {
    color: #d30f0f !important; 
}
.card{
    width: 24rem;
    margin: 80px;
    justify-content: center;
}
.card-header{
 font-family: 'lora',serif;
 font-size: larger;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-controls {
    display: flex;
    align-items: center;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
  }
  
  .quantity {
    margin: 0 10px;
  }
  .category-container {
    display: flex;        
    justify-content: center; 
    overflow-x: scroll;
}

.categories ul {
    list-style: none; /* Remove bullet points */
    display: flex; /* Make the list items flex children */
    padding: 28px; /* Remove default padding */
    font-size: 40px;
  
}

.category {
    margin: 0 10px; /* Add some spacing between items */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    letter-spacing: 2px;
    transition: background-color 0.2s;
}
.categories:hover{
    background-color: #f0f0f0;
}
